<h1 class="heading">Editing Employee</h1>

<%= render 'form', emp: @emp %>
<div class="below">
<%= link_to 'Show', @emp,:class=>"btn btn-warning" %> |
<%= link_to 'Back', emps_path,:class=>"btn btn-info" %>
</div>